/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Open sans
    ----------------------------------------
    Colors:
        Blue      :               #3764eb
        Dark Grey :               #2e3841
        Light Grey:               #9da2a6
        Grey      :               #c
        White     :               #fff
        Black     :               #000   
============================================ */

/********************************************************
                    GENERAL SECTION
********************************************************/

/*******************************************************
                        BUTTONS
********************************************************/
.btn-social{
    background-color:  #fafafa;
    color: #8b959e;
}
.btn-social:hover{
    background-color:  #3764eb;
    color: #FFF;
}
.btn-black{
    background-color: #3c4750;
    color: #FFF;
    text-transform: uppercase;
}
.btn-black:hover,
.btn-black:focus{
    color: #FFF;
    background-color: #9da2a6;
}
/*
.btn-black:focus{
    background-color: #3c4750;
    color: #FFF;
}
*/
/********************************************************
                    TEXT FIELD
********************************************************/
.update-txt-field{
    background-color: #3460e5;
    padding: 15px;
    font-size: .6rem;
    width: 300px;
    flex: 1;
    border: none;
}
.update-txt-field::placeholder{
    font-style: italic;
    color: #FFF;
    font-size: .8rem;
}
.flex-container {
    display: flex;
    margin-top: 45px;
}

/********************************************************
                    CONTENT BOXES
********************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}

.content-box-sm-grey{
    padding: 80px 0;
    background-color: #F4F4F4;
}
.content-box-sm-dark-grey{
    padding: 80px 0;
    background-color: #2e3841;
}
.content-box-sm-blue{
    padding: 80px 0;
    background-color: #3764eb;
}
.content-box-md-grey{
    padding: 100px 0;
    background-color: #F4F4F4;
}
.content-box-md-dark-grey{
    padding: 100px 0;
    background-color: #2e3841;
}
/********************************************************
                        HEADINGS
********************************************************/
.horizontal-heading{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 60px;
}
.horizontal-heading h2{
    font-size: 2rem;
    font-weight: 100;
}
.horizontal-heading h5{
    font-size: 1.8rem;
    font-weight: 700;
}
/********************************************************
                        NAVBAR
********************************************************/

.top-nav{
    margin: 0;
    border: none;
}
.navbar-brand{
    background-color: #3764eb;
    padding: 30px 20px 60px 200px;
}
.navbar-top{
    background: #3d464e;
     color: rgb(171, 176, 181);
    padding: 20px;
}
.navbar-bottom{
     color: #3d464e;
    padding-left: 170px;
}

.navbar-top i{
   padding-right: 5px;
    padding-left: 5px;
}
li{
    text-transform: uppercase;
}
.fa-search{
    padding: 10px;
}
.update-cover{
    background-image: url(../img/scatter-doodle-1.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: table;
    position: relative;
}
.imgAbt{
    position: absolute;
    top: 200px;
    left:300px;
}
.update-text{
/*    display: table-cell;*/
    position: absolute;
    top: 190px;
    left: 450px;
    color: #fff;
}
.update-text h3{
    font-size: 36px;
    font-weight: bold;
}
.update-text p{
    font-size: 22px;
}
.subscribe{
     position: absolute;
    bottom: 130px;
    right: 350px;    
}
.subscribe input{
    padding: 15px 50px 15px 15px;
}
.map{
    background: url(../img/map.PNG);
     background-size: cover;
    width: 100%;
    height: 350px;
}
.footer{
     background-image: linear-gradient(rgba(55,100,135,0.6),rgba(55,100,135,0.6)),url(../img/scatter-doodle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px;
}
.footer ul{
    padding: 0;
}
.footer li{
    list-style: none;
    text-transform: none;
    padding-bottom: 10px;
}
.footer img{
    padding-bottom: 30px;
}
.footer h5{
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
}
.footer h3{
    padding: 0;
    font-size: 24px;
}
.footer span{
    padding-left: 25px;
}
.footer-bottom{
    background-color:#3d464e;
    color: #fff;
    text-align: center;
}
.contactus-heading{
    height: 70%;
}
.contact-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/scatter-doodle-1.png);
    background-color: rgba(0,0,0,0.9);
}
.contact-content{
    height: 100%;
    width:100%;
    display: table;
    
}
.contact-inner-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.contact-inner-contact{
    font-size: 20px;
/*    border: solid 1px #fff;*/
    padding: 5px;
    color: #fff;
/*    border-radius: 10px;*/
}
.contact-inner-content h3{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}


/********************************************************
                        ABOUT
********************************************************/
.about-heading-title{
    font-weight: 100;
    margin-top: 0;
}

.about-heading-sub-title{
    font-weight: 700;
    font-size: 2rem;
}
.about-headings{
    margin-bottom: 75px;
}

.about-info{
    font-size: 1rem;
    font-weight: 300;
    color: #b1b6ba;
}


/********************************************************
                        TEAM
********************************************************/
.team-member{
    padding: 5px;
}
.team-member-img{  
    margin-bottom: 25px;
}
.team-member-name{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}
.team-member-post{
    font-weight: 700;
    margin-bottom: 5px;
}
.team-members>.row-01{
    margin-bottom: 35px;
}
/********************************************************
                        CARD
********************************************************/

.services-card{
    border: solid 1px #e5e5e5;
    padding: 25px;
    margin-bottom: 50px;
}

.card-heading{
    font-weight: 700;
    font-size: 1.2rem;
}

.card-sub-heading{
    font-weight: 700;
    font-size: 1.2rem;
}

.card-icon{
    margin-bottom: 20px;
}

.card-icon>.icon{
    color: #3764eb;
/*    font-size: 3rem;*/
}

.card-info{
    color: #b1b6ba;
    margin-top: 20px;
}

.services-card:hover{
    border: solid 1px #3764eb;
}
/*********************************************************
                        TESTIMONIALS
*********************************************************/
#about-03 .horizontal-heading h2{
    font-weight: 300;
    font-size: 2rem;
    color: #a9b1b8;
}
#about-03 .horizontal-heading h5{
    font-weight: 800;
    font-size: 2rem;
    color: #FFF;
}
.testimonial{
    display: inline-block;
    width: 320px;
    border: solid 1px #434c54;
}
.testimonial-head{
    background-color: #353f48;
    border: solid 1px #353f48;
}
.testimonial-img>img{
    border-radius: 50%;
    padding: 15px 10px 15px 15px;
}
.testimonial .header-inner-left{
    padding-right: 0;
}
.testimonial .team-member-post{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: .6rem;
}
.testimonial .team-member-name{
    margin-top: 0;
    font-weight: 600;
    font-size: .9rem;
    color: #FFF;
}
.testimonial .testimonial-card-text{
    margin-bottom: 0;
}
.testimonial .testimonial-paragraph{
    color: #a3abb2;
    padding: 20px;
    margin: 0;
}

/***********************************************
                    UPDATE 
***********************************************/
#about-04 .horizontal-heading{
    color: #FFF;
    text-align: left;
    margin-bottom: 0;
}
#about-04 .horizontal-heading h2{
    font-weight: 700;
    font-size: 2rem;
}
#about-04 .horizontal-heading h5{
    font-weight: 200;
    font-size: .8rem;
    margin-top: 16px;
}
.update-icon{
    margin-top: 16px;
    color: #FFF;
}

/********************************************************
                    WHO WE ARE
********************************************************/
/*#who-we-are-image{
    position: relative;
}
.who-we-are-bg-img{
    width: 100%;
}
.who-we-are-overlay{
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}*/

