/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */
@media (min-width : 1200px){
    
}
@media(min-width : 992px) and (max-width : 1115px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding:0;
    }

}
@media(min-width : 768px) and (max-width : 991px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding:0;
    }
    .home-section .text-heading{
        font-size: 45px;
        
    }
    /*MOBILES*/
@media(max-width:767px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding:0;
    }
    .home-section .text-heading{
        font-size: 35px;
        
    }
    .btn-general{
        padding: 8px 22px;
        font-size:14px;
    }
    .about-bg-diagonal{
        border-left:0;
        border-top: 0;
        width:100%;
        height: 350px;
    }
    
    .about-content-box{
        height:350px;
    }
    .testimonial blockquote{
        padding: 6px 50px;
    }
    .testimonial blockquote:before{
        left:10px;
    }
    .testimonial blockquote:after{
        right:10px;
    }
    .copy{
        text-align: center;
    }
}
@media(max-width:567px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding:0;
    }
    .home-section .text-heading{
        font-size: 25px;
        
    }