html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
     box-sizing: border-box;
}

.m-t-30{
    margin-top: 30px !important;
}
.m-t-50{
    margin-top: 30px !important;
}
.m-t-70{
    margin-top: 30px !important;
}
.text-center{
    text-align: center !important;
}
m-b-60{
    margin-bottom: 150px !important;
}

a:hover,
a:focus {
    text-decoration: none;
}
.top-nav{
    margin: 0;
    border: none;
}
.navbar-brand{
    background-color: #3764eb;
    padding: 30px 20px 60px 200px;
}
.navbar-top{
    background: #3d464e;
     color: rgb(171, 176, 181);
    padding: 20px;
}
.nav-b{
     color: #3d464e;
    padding-left: 170px;
}

.navbar-top i{
   padding-right: 5px;
    padding-left: 5px;
}
li{
    text-transform: uppercase;
}
.fa-search{
    padding: 10px;
}
.update-cover{
    background-image: url(../img/scatter-doodle-1.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: table;
    position: relative;
}
.imgAbt{
    position: absolute;
    top: 200px;
    left:300px;
}
.update-text{
/*    display: table-cell;*/
    position: absolute;
    top: 190px;
    left: 450px;
    color: #fff;
}
.update-text h3{
    font-size: 36px;
    font-weight: bold;
}
.update-text p{
    font-size: 22px;
}
.subscribe{
     position: absolute;
    bottom: 130px;
    right: 350px;    
}
.subscribe input{
    padding: 15px 50px 15px 15px;
}
.map{
    background: url(../img/map.PNG);
     background-size: cover;
    width: 100%;
    height: 350px;
}
.footer{
     background-image: linear-gradient(rgba(55,100,135,0.6),rgba(55,100,135,0.6)),url(../img/scatter-doodle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 50px;
}
.footer ul{
    padding: 0;
}
.footer li{
    list-style: none;
    text-transform: none;
    padding-bottom: 10px;
}
.footer img{
    padding-bottom: 30px;
}
.footer h5{
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
}
.footer h3{
    padding: 0;
    font-size: 24px;
}
.footer span{
    padding-left: 25px;
}
.footer-bottom{
    background-color:#3d464e;
    color: #fff;
    text-align: center;
}
.contactus-heading{
    height: 70%;
}
.contact-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/scatter-doodle-1.png);
    background-color: rgba(0,0,0,0.9);
}
.contact-content{
    height: 100%;
    width:100%;
    display: table;
    
}
.contact-inner-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.contact-inner-contact{
    font-size: 20px;
/*    border: solid 1px #fff;*/
    padding: 5px;
    color: #fff;
/*    border-radius: 10px;*/
}
.contact-inner-content h3{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.contact-form{
    margin: 70px;
}

.contact-form input,textarea{
    margin: 10px;
    padding: 10px 100px 10px 20px;
    font-weight: 300;
    box-sizing: border-box;
}

.btn-c{
    padding: 10px 50px;
    text-transform: uppercase;
    margin-left: 350px;
    font-size: 15px;
    margin-top: 15px;
}

.section-header{
    height: 400px;
    width: 100%;
    margin-top: 70px;
    text-align: center;

}
.bg-color{
    background: #3764eb;
    padding: 25px;
    border-radius: 50%;
}
.heading .para {
    font-size: 35px;
    font-weight: 300;
    margin: 0;
}
.heading h3{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 0;
}
.heading span{
    color: #3764eb;
}
.contact p{
    padding: 30px;
}
/***********************************************
            SERVICES
************************************************/

.services-bg{
    background-image: linear-gradient(rgba(55,100,180,0.5),rgba(55,100,185,0.5)),url(../img/scatter-doodle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
   height: 400px;
    width: 100%;
    display: table;
}
.services-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
.service{
/*    border: solid 1px #000;*/
    width: 25%;
    display: inline-block;
    padding: 20px;
    box-shadow: 2px 8px 4px -1px rgba(192,207,250,0.54);
/*    padding-left: 50px;*/
    margin-right: 30px;
    background-color: #fff;
}

.service-reasons{
    position: relative;
    height: 300px;
}
.service-inner{
/*    background-color: #fff;*/
    position: absolute;
    top: -100px;
    left: 230px;
}
.service h3{
    font-weight: bold;
    font-size: 18px;
}
.dedicated-teams{
 text-align: center;   
}
.heading{
    margin-top: 30px;
}
.expert{
    position: relative;
}


#experience{
    margin-bottom: 90px;
}
.expert-div{
/*    border: solid 1px #000;*/
    padding: 15px;
    position: relative;
}
.expert-1{
    margin-bottom: 50px;
}
.work-text{
/*    border: solid 1px #000;*/
    margin: 30px;
    margin-top: 0;
    background: #fff;
    position: absolute;
    bottom: -150px;
}
#expert{
    height: 770px;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url(../img/scatter-doodle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*=======================================================================================================
                                Team section
=======================================================================================================*/
.teamsection1{
    height: 70%;
}
.team-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/scatter-doodle-1.png);
/*    background-color: rgba(0,0,0,0.9);*/
}
.team-content{
    height: 100%;
    width:100%;
    display: table;
    
}
.team-inner-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.team-inner-contact{
    font-size: 20px;
/*    border: solid 1px #fff;*/
    padding: 5px;
    color: #fff;
/*    border-radius: 10px;*/
}
.team-inner-content h3{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}
.teamsection2{
    margin: 70px;
}
.teamsection3{
    background: #3d464e;
    margin-top: 70px;
/*    margin-bottom: 70px;*/
}
.team-angels{
    text-align: center;
    color: #fff;
}
.team-angels h3{
    font-size: 35px;
    font-weight: 700;
    margin: 0px auto 50px;
}
.angel{
    font-size: 35px;
    font-weight: 300;
    margin: 70px auto 0;
}
.team-member{
    margin: 0 15px;
}
.team-member-info{
    padding: 10px 0 30px 0;
}
h4.team-member-name{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation{
    color: #3764eb;
    font-size: 15px;
    font-style: none;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
}
.name{
    color: #fff;
}
/*=======================================================================================================
                                 SOCIAL ICON CSS
=======================================================================================================*/

.social-list{
    padding-left: 0;
}
.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}
.social-icon{
    font-size: 17px;
    padding: 10px;
}

.icon-gray{
    color: #64707b;
}
.icon-white{
    color: #fff;
}
.icon-facebook:hover{
    background: #3764eb;
    color: #fff;
}
.icon-twitter:hover{
    background: #3764eb;
    color: #fff;
}
.icon-google-plus:hover{
    background: #3764eb;
    color: #fff;
}
.icon-youtube:hover{
    background: #3764eb;
    color: #fff;
}
.angel p{
    color: #000;
}
.team-white h3{
    color: #000;
}
.team-white h3 span{
    color: #3764eb;
}



/******************************
HEADER
*******************************/

.home-background{
    background-image: 
    linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url("../img/homebackground.jpg") ;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.home-content{
    width: 100%;
    height: 100%;
    position: relative;
}
.home-heading{
    position: absolute;
    top: 300px;
    left: 100px;
    vertical-align: middle;
    text-align: center;
/*    text-transform: uppercase;*/
    
}
.home-name-up{
    color: white;
    text-align: left;
    margin-left: 30px;
/*    font-size: 45px;*/
/*    font-weight: 600;*/
/*    margin: 0;*/
}
.home-name-up .welcome{
    font-size: 55px;
    font-weight: 100;
}
.home-name-up .build{
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
}
.home-button-inner:hover{
    text-decoration: none;
    background-color: #3764eb;
    color: white;
    border-color:#3764eb;
    transition: all .3s linear;
}
.home-button-inner:focus{
    text-decoration: none;
    color: white;
    
}
.home-button:hover{
}
.home-button{
    font-size: 15px;
    margin: 30px;
/*    padding: 10px;*/
}
.home-button-inner{
    padding: 10px;
    border: solid 2px white;
    border-radius: 7px;
    margin: 15px;
    color: #fffffa;
    font-weight: 400;
    background: transparent;
    text-transform: uppercase;
}



/*********************
EXPIRENCE
***********************/
.picture{
    display: inline;
    text-align: left;
    float: right;
}
.parent-container-n{
    display: inline;
}
.picture:hover{
    cursor:zoom-in;
}
.parent-container-n{
    cursor: zoom-in;
}
.g-image{
    width: 40px;
    height: 40px;
}
.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    transition: transform .5s ease;
}
.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}
.experience{
    margin: 0px 80px;
}
.exp-img{
    display: inline;
/*    box-shadow: 4px 14px 14px 3px rgba(192,207,250,0.54);*/
}
.text{
    display: inline;
    margin-top: 20px;
}

.no{
    font-size: 52px;
    font-weight: 100;
    margin: 0;
}
.black{
    color: black;
}
.blue-color{
    color: #3764eb;
}
.no-tag{
    font-weight: 600;
    font-size: 40px;
/*    margin-bottom: 10px;*/
}
.para{
    margin: 10px 0;
}
.point{
    line-height: 1.2px;
    font-weight: 600;
}
.img-center{
    float: right;
    margin-top: 20px;
}


/*=======================================================================================================
                                 APPROACH SECTION
=======================================================================================================*/
.approach-heading h2 span{
    font-size: 45px;
    color:  #3764eb;
    text-align: center;
    font-weight: 700;
}
.approach-heading h3{
    font-size: 30px;
    font-weight: 400;
}
.approach-heading{
    text-align: center;
    margin-top: 50px;
}
.approach-heading p{
    margin-bottom: 25px;
/*    font-size: 18px;*/
}
.bgcolor{
    background: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.customize-dropdown{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    
}
.gray{
    background: #eee;
    padding: 15px 70px;
}
.bg-parallax{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /*only can be used in css not in html imgsrc*/
    background-attachment: fixed;
}

.wrap{
    border-radius: 30px;
    background-color: #F4F4F4;
    padding: 5px;
    margin: 10px 200px;
}
/*************************
 portfolio
****************************/

.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    transition: all .4s ease;
}
.portfolio-btn{
   align-content: center;
    margin-left: 400px;
    margin-top: 60px;
}
/*******************************************************************************************************
                                    Tweaking bootstrap
*******************************************************************************************************/
.row.no-gutter [class*=col-] {
    padding: 0;
}
/*portfolio hover*/
/*
.portfolio-item:hover img {
    transform: scale(1.2);
}
*/

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-overlay-details p,
.portfolio-item:hover .portfolio-overlay-details h3 {
    transform: translateY(0);
}

/*isotope filter*/
#isotope-filters button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
/*    margin-left: 50px;*/
/*    border: solid 1px gray;*/
    background: transparent;
    padding-right: 50px;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .4s ease;
}

#isotope-filters button.active span {
    color: #3764eb;
    border-bottom: solid 3px #3764eb;
}
#isotope-container{
    margin:20px 160px 0px 160px;
}

/*************************
    gallery

****************************/
.grid-item { height: 200px; }
.grid-item--width2 { height: 400px; }

/***********************************************
                    Loader
************************************************/
.load{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #f4f4f4;
    z-index: 9999;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.bar{
    width: 15px;
    height: 60px;
    background:  #3764eb;
    display: inline-block;
    margin-left: 4px;
    transform-origin: bottom center;
    animation: load 2s ease-in-out infinite;
}
.bar1{
    animation-delay: 0.1s;
}
.bar2{
    animation-delay: 0.2s;
}
.bar3{
    animation-delay: 0.3s;
}
.bar4{
    animation-delay: 0.4s;
}
.bar5{
    animation-delay: 0.5s;
}
.bar6{
    animation-delay: 0.6s;
}
.bar7{
    animation-delay: 0.7s;
}
.bar8{
    animation-delay: 0.8s;
}
.bar9{
    animation-delay: 0.9s;
}
.bar10{
    animation-delay: 1s;
}
@keyframes load{
    0%{
        transform: scaleY(0.1);
        background:  #3764eb;
    }
    50%{
        transform: scaleY(1.5);
        background:  #3764eb;
    }
    100%{
        transform: scaleY(0.1);
        background:  #3764eb;
    }
}
#home-img{
    width: auto!important;
    
}
/****************************************************************************************************************************************************************************************************************************************************************************************************************/
.btn-social{
    background-color:  #fafafa;
    color: #8b959e;
}
.btn-social:hover{
    background-color:  #3764eb;
    color: #FFF;
}
.btn-black{
    background-color: #3c4750;
    color: #FFF;
    text-transform: uppercase;
}
.btn-black:hover,
.btn-black:focus{
    color: #FFF;
    background-color: #9da2a6;
}
/*
.btn-black:focus{
    background-color: #3c4750;
    color: #FFF;
}
*/
/********************************************************
                    TEXT FIELD
********************************************************/
.update-txt-field{
    background-color: #3460e5;
    padding: 15px;
    font-size: .6rem;
    width: 300px;
    flex: 1;
    border: none;
}
.update-txt-field::placeholder{
    font-style: italic;
    color: #FFF;
    font-size: .8rem;
}
.flex-container {
    display: flex;
    margin-top: 45px;
}
.container-about{
    margin-top: 100px;
/*    margin-right: 230px;*/
}
/********************************************************
                    CONTENT BOXES
********************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}

.content-box-sm-grey{
    padding: 80px 0;
    background-color: #F4F4F4;
}
.content-box-sm-dark-grey{
    padding: 80px 0;
    background-color: #2e3841;
}
.content-box-sm-blue{
    padding: 80px 0;
    background-color: #3764eb;
}
.content-box-md-grey{
    padding: 100px 0;
    background-color: #F4F4F4;
}
.content-box-md-dark-grey{
    padding: 100px 0;
    background-color: #2e3841;
}
/********************************************************
                        HEADINGS
********************************************************/
.horizontal-heading{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 60px;
}
.horizontal-heading h2{
    font-size: 2rem;
    font-weight: 100;
}
.horizontal-heading h5{
    font-size: 1.8rem;
    font-weight: 700;
}
/********************************************************
                        NAVBAR
********************************************************/

.top-nav{
    margin: 0;
    border: none;
}
.navbar-brand{
    background-color: #3764eb;
    padding: 30px 20px 60px 200px;
}
.navbar-top{
    background: #3d464e;
     color: rgb(171, 176, 181);
    padding: 20px;
}
.navbar-bottom{
     color: #3d464e;
    padding-left: 170px;
}

.navbar-top i{
   padding-right: 5px;
    padding-left: 5px;
}
li{
    text-transform: uppercase;
}
.fa-search{
    padding: 10px;
}
.update-cover{
    background-image: url(../img/scatter-doodle-1.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: table;
    position: relative;
}
.imgAbt{
    position: absolute;
    top: 200px;
    left:300px;
}
.update-text{
/*    display: table-cell;*/
    position: absolute;
    top: 190px;
    left: 450px;
    color: #fff;
}
.update-text h3{
    font-size: 36px;
    font-weight: bold;
}
.update-text p{
    font-size: 22px;
}
.subscribe{
     position: absolute;
    bottom: 130px;
    right: 350px;    
}
.subscribe input{
    padding: 15px 50px 15px 15px;
}
.map{
    background: url(../img/map.PNG);
     background-size: cover;
    width: 100%;
    height: 350px;
}
.footer{
     background-image: linear-gradient(rgba(55,100,145,0.8),rgba(55,80,135,0.8)),url(../img/scatter-doodle-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 40px;
}
.footer ul{
    padding: 0;
}
.footer li{
    list-style: none;
    text-transform: none;
    padding-bottom: 10px;
    font-weight: 100;
    color: lightgray;
}
.footer p{
  color: lightgray;  
}
.footer img{
    padding-bottom: 30px;
}
.footer h5{
/*    text-transform: uppercase;*/
    padding: 0;
    font-weight: bold;
}
.footer h3{
    padding: 0;
    font-size: 24px;
}
.footer span{
    padding-left: 25px;
}
.footer-bottom{
    background-color:#3d464e;
    color: #fff;
    text-align: center;
}
.contactus-heading{
/*    height: 70%;*/
}
.contact-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/scatter-doodle-1.png);
    background-color: rgba(0,0,0,0.9);
}
.contact-content{
    height: 100%;
    width:100%;
    display: table;
    
}
.contact-inner-content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.contact-inner-contact{
    font-size: 20px;
/*    border: solid 1px #fff;*/
    padding: 5px;
    color: #fff;
/*    border-radius: 10px;*/
}
.contact-inner-content h3{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}


/********************************************************
                        ABOUT
********************************************************/
.about-heading-title{
    font-weight: 200;
    margin-top: 0;
}

.about-heading-sub-title{
    font-weight: 700;
    font-size: 45px;
}
.about-headings{
    margin-bottom: 75px;
}

.about-info{
    font-size: 18px;
    font-weight: 200;
    color: #b1b6ba;
    line-height: 20px;
}


/********************************************************
                        TEAM
********************************************************/
.team-member{
    padding: 5px;
}
.team-member-img{  
    margin-bottom: 25px;
}
.team-member-name{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}
.team-member-post{
    font-weight: 700;
    margin-bottom: 5px;
}
.team-members>.row-01{
    margin-bottom: 35px;
}
/********************************************************
                        CARD
********************************************************/

.services-card{
    border: solid 1px #e5e5e5;
    padding: 25px;
    margin-bottom: 50px;
}

.card-heading{
    font-weight: 700;
    font-size: 1.2rem;
}

.card-sub-heading{
    font-weight: 700;
    font-size: 1.2rem;
}

.card-icon{
    margin-bottom: 20px;
}

.card-icon>.icon{
    color: #3764eb;
/*    font-size: 3rem;*/
}

.card-info{
    color: #b1b6ba;
    margin-top: 20px;
}

.services-card:hover{
    border: solid 1px #3764eb;
}
/*********************************************************
                        TESTIMONIALS
*********************************************************/
#about-03 .horizontal-heading h2{
    font-weight: 300;
    font-size: 2rem;
    color: #a9b1b8;
}
#about-03 .horizontal-heading h5{
    font-weight: 800;
    font-size: 2rem;
    color: #FFF;
}
.testimonial{
    display: inline-block;
    width: 320px;
    border: solid 1px #434c54;
}
.testimonial-head{
    background-color: #353f48;
    border: solid 1px #353f48;
}
.testimonial-img>img{
    border-radius: 50%;
    padding: 15px 10px 15px 15px;
}
.testimonial .header-inner-left{
    padding-right: 0;
}
.testimonial .team-member-post{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: .6rem;
}
.testimonial .team-member-name{
    margin-top: 0;
    font-weight: 600;
    font-size: .9rem;
    color: #FFF;
}
.testimonial .testimonial-card-text{
    margin-bottom: 0;
}
.testimonial .testimonial-paragraph{
    color: #a3abb2;
    padding: 20px;
    margin: 0;
}

/***********************************************
                    UPDATE 
***********************************************/
#about-04 .horizontal-heading{
    color: #FFF;
    text-align: left;
    margin-bottom: 0;
}
#about-04 .horizontal-heading h2{
    font-weight: 700;
    font-size: 2rem;
}
#about-04 .horizontal-heading h5{
    font-weight: 200;
    font-size: .8rem;
    margin-top: 16px;
}
.update-icon{
    margin-top: 16px;
    color: #FFF;
}

